* {
  margin: 0;
}

body {
  max-width: 1440px;
  background-color: #FFF;
  padding: 40px 77px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.wrapper > * {
  flex: 1 100%;
}

.header {
  color: #333;

  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
}

.aside {
  width: 50%;
  font-family: 'Space Mono', monospace;
}

figure {
  width: 540px;
}

figure > img {
  width: 100%;
}

.aside > h1 {
  font-weight: 700;
  line-height: 95px;
  font-size: 64px;
  letter-spacing: -0.035em;
}

.text > p {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
}

.text {
  margin-top: 36px;
  margin-bottom: 64px;
  width: 381px;
} 

.btn {
  width: 216px;
  height: 68px;
  padding: 24px 40px 25px 43px;

  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;

  color: #FFF;
  background-color: #333;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: 140px;
}

@media all and (max-width: 599px) {
  body { padding: 20px 24px; }
  figure {
    width: 287px;
    margin: 60px auto;
  }
  .aside > h1 {
    font-size: 48px;
    line-height: 71px;
  }
  .text > p {
    font-size: 18px;
    line-height: 27px;
  }
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .header  { order: 1; }
  .aside-1 { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}